<ion-header [translucent]="true">
    <ion-toolbar color="primary">
    <ion-title>Abertura</ion-title>
    </ion-toolbar>
</ion-header>


 <ion-content [fullscreen]="true">
   <ion-header collapse="condense">
     <ion-toolbar>
     
     </ion-toolbar>
   </ion-header>

  <img src="/assets/image/pokemon.jpg"/>

  <div>
    <img src="/assets/image/tress.png"/>
  </div>
  <ion-button expand="full">Vamos agora Pokémons</ion-button> 
  <ion-button color="medium" expand="full"> não tenho cadastro</ion-button>
  
  
</ion-content>
