<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> Pokemon Cards</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="boxImage">
    <img src="/assets/image/pokemon.jpg" />
  </div>

  <div class="wellcome">
    <h3>Bem vindo ao Pokemon Cards</h3>
    <p>
      O melhor lugar para você encontrar as cartas de pokemon que você deseja
    </p>
  </div>

  <div class="formulario">
    <h3>Faça login para continuar</h3>
    <form>
      <ion-input
        class="input"
        label="Email"
        label-placement="floating"
        placeholder="Digite seu email"
        name="email"
        [(ngModel)]="email"
      ></ion-input>
      <ion-input
        class="input"
        label="Senha"
        type="password"
        label-placement="floating"
        placeholder="Digite sua senha"
        name="password"
        [(ngModel)]="password"
      ></ion-input>
      <div class="btns">
        <ion-button class="btn" expand="full" (click)="handleLogin(email,password)">Logar</ion-button>
        <ion-button class="btn" color="secondary">Esqueci a Senha</ion-button>
      </div>
    </form>
  </div>
</ion-content>
