<ion-header [translucent]="true">
  <ion-toolbar color="primary">
  <ion-title>logar no Pokemon Cards</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <img src="/assets/image/pokemon.jpg"/>
 
  <ion-input label="Email" label-placement="floating" placeholder="digite seu email"></ion-input>

      <ion-item>
        <ion-label>Senha:</ion-label>
        <ion-input type="password" formcontrolname="senha"></ion-input>
      </ion-item>

       <ion-button expand="full">Logar</ion-button> 
       <ion-button color="secondary">Esqueci a Senha</ion-button>

       


       
       

</ion-content>
